							<div class="post">
								<header>
									<div class="title">
										<h2>{{ title }}</h2>
										<!-- <p>{{ subTitle }}</p> -->
									</div>
									<div class="meta">
										<time class="published" datetime="{{ dateSEO }}">{{ dateText }}</time>
										<a href="#" class="author"><span class="name">Jean Forteroche</span><img src="public/images/jeanmini.jpg" alt="" /></a>
									</div>
								</header>
								<img src="public/images/{{ img }}" alt="" /></a>
								<p>{{ content }}</p>
								<footer>
									<ul class="actions">
										<li><a href="./chapter/{{ slug }}" class="button large">Lire le chapitre</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#" class="icon solid fa-comment">{{ numberOfComments }}</a></li>
									</ul>
								</footer>
							</div>