<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="{{ base }}/public/css/login.css">

</head>

<h1>ajout de chapitre</h1>

<form action="" method="POST">
	<label for="pseudo">Titre :</label>
	<input type="text" name="titre">
</br>
<textarea name="chapitre" id="chapitre" cols="150" rows="10"></textarea>
<input type="submit" name="valider" value="valider">
<script src="https://cdn.tiny.cloud/1/vv094536he8x8yzcxmhw9qgquh8rvvnp9qekgcpm9rultedk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>tinymce.init({selector:'textarea'});</script>
</form>