
<div class="comments wrap-post">
  {{ commentaires }}
  <div class="header-post">
    <h3 class="title-post">Ecrire un commentaire</h3>
</div>
<div class="content-post">
    <div class="form-group">
        <label for="user">Nom :</label>
        <input type="text" class="form-control" id="author"/>
    </div>
    <br>
    <textarea name="comment"></textarea>
    <button id="addComment" class="button large">Publier</button>
</div>
</div>
