<form method="POST">
  <p class="error">
    êtes vous sûr de vouloir supprimer cette page 
    <input type="submit" name="supprimerConfirmation" value="oui">
    <input type="submit" name="annulerSuppression" value="non">
  </p>
</form>