  <h1>modification de chapitre</h1>

<form action="" method="POST">
  <main>
    <input type="text" name="titre" id="titre" value="{{ titre }}">
    <textarea name="chapitre" id="chapitre" cols="150" rows="10">{{ lastChapter }}</textarea>
    <input type="hidden" name="id" id="id" value="{{ id }}" >
  </main>
  {{ ack }}
  <input type="submit" name="valider" value="valider">
  <input type="submit" name="supprimer" value="supprimer">
  <script src="https://cdn.tiny.cloud/1/vv094536he8x8yzcxmhw9qgquh8rvvnp9qekgcpm9rultedk/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>tinymce.init({selector:'textarea'});</script>
</form>
