<div class="post">
	<header>
		<div class="title">
			<h2><a href="{{ base }}/chapitre/{{ slug }}">{{ title }}</a></h2>
		</div>
		<div class="meta">
			<time class="published" datetime="{{ dateSEO }}">{{ date }}</time>
			<a href="{{ base }}/bio" class="author"><span class="name">Jean Forteroche</span><img src="public/images/jeanmini.jpg" alt="" /></a>
		</div>
	</header>
		<a href="{{ base }}/chapitre/{{ slug }}" class="image featured"><img src="public/images/pic01.png" alt="" /></a>
		{{ content }}
	<footer>
		<ul class="actions">
			<li><a href="{{ base }}/chapitre/{{ slug }}" class="button large">Continuer à lire</a></li>
			</ul>
			<ul class="stats">
			<li><a href="{{ base }}/chapitre/{{ slug }}#comments" class="icon solid fa-comment">{{ numberOfComments }}</a></li>
		</ul>
	</footer>
</div>