<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ base }}/public/css/main.css" />
		<base href="{{ base }}/">
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="{{ base }}/">Blog de Jean Forteroche</a></h1>
						<nav class="links">
							<ul>
								{{ lastChapter }}
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Rechercher</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Rechercher" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Rechercher" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{{ base }}/bio">
											<h3>biographie</h3>
											<p>Découvrez la vie de Jean</p>
										</a>
									</li>
									<li>
										<a href="{{ base }}/chapitrelist">
											<h3>chapitres</h3>
											<p>liste des chapitres</p>
										</a>
									</li>
									<li>
										<a href="{{ base }}/contact">
											<h3>contact</h3>
											<p>contacter moi</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="{{ base }}/admin/" class="button large fit">Connexion admin</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">
						{{ content }}

					</div>

				<!-- Footer -->
					<section id="footer">
						<a href="{{ base }}/" class="button large">retour à l'accueil</a>
					</br>
					</br>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
					</section>
			</div>

		<!-- Scripts -->
			<script src="public/js/jquery.min.js"></script>
			<script src="public/js/browser.min.js"></script>
			<script src="public/js/breakpoints.min.js"></script>
			<script src="public/js/util.js"></script>
			<script src="public/js/main.js"></script>

	</body>
</html>