<!DOCTYPE html>
<html>
<head>
  <title>{{ title }} interface d'administration</title>
  <link rel="stylesheet" href="{{ base }}/public/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ base }}/public/css/admin.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script type="text/javascript" src="{{ base }}/public/js/admin.js"></script>
</head>
<body>
  <admin>
<nav>
  <p>Bienvenue {{ username }}</p>
  <h2>Chapitres</h2>
  <ul>
    <li>
      <a href="{{ base }}/admin/add-chapter">ajouter un chapitre</a>
    </li>
    <li>
      <a href="{{ base }}/admin/list-chapters">modifier un chapitre</a>
    </li>
  </ul>
  <h2>Commentaires</h2>
  <ul>
    <li>
      <a href="{{ base }}/admin/moderate-comments">modérer un commentaire</a>
    </li>
  </ul>
  <a href="{{ base }}/admin/logout"><input type="submit" value="deconnexion"></a>
</nav>
<main>
  {{ content }}
</main>
</admin>
</br>
<!-- Footer -->
          <section id="footer">
            <a href="/blog/" class="button large">retour à l'accueil</a>
          </br>
          </br>
            <ul class="icons">
              <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
          </section>
      </div>

    <!-- Scripts -->
      <script src="public/js/jquery.min.js"></script>
      <script src="public/js/browser.min.js"></script>
      <script src="public/js/breakpoints.min.js"></script>
      <script src="public/js/util.js"></script>
      <script src="public/js/main.js"></script>

  </body>
</html>
