							<div class="post">
								<header>
									<div class="title">
										<h2>{{ title }}</h2>
									</div>
									<div class="meta">
										<time class="published" datetime="{{ dateSEO }}">{{ dateText }}</time>
										<a href="#" class="author"><span class="name">Jean Forteroche</span><img src="public/images/jeanmini.jpg" alt="" /></a>
									</div>
								</header>
								<a href="{{ base }}/chapitre/{{ slug }}" class="image featured"><img src="public/images/alaskaRoute.png" alt="" /></a>
								{{ content }}
								
							</div>