body {
    display: block;
}

admin {
    display: flex;
}

main {
    margin: 1rem;
    background-color: #f4f4f4;
    width: 75%;
    padding: 1rem;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

nav p a{
  color:#2ebaae;
}
nav {
    margin: 1rem;
    background-color: #f4f4f4;
    padding: 1rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
a:visited
{
    color: black;
}
input[type=submit], button {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    line-height: 0;
}
input[type=submit]:hover, button:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

ack {
    text-align: center;
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: block;
    padding: 1rem;
    color: white;
}
ack.error{
    background-color: red;
}
ack.success{
    background-color: #CDDC39;
}
#footer {
    text-align: center;
}