body {
    display: flex;
	background: #f4f4f4;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
main {
    background-color: #f4f4f4;
    width: 100%;
    border: 1px solid #7d518b;
    padding: 1rem;
}
a:visited
{
    color: black;
}
/* Bordered form */
form {
    width:150%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #f4f4f4;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover, button:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
input[type=submit], button {
    background-color: #f4f4f4;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 40%;
    line-height: inherit;
}
